
<div *ngIf="!respIs">
  <h2 class="text-center p-2">No encontramos a el empleado</h2>
</div>

<div class="container" *ngIf="respIs">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">      
      <h2 *ngIf="empleado">
        {{empleado.username}} <br>
        <small *ngIf="empleado.ubicacion"><ion-icon name="calendar-outline"></ion-icon> {{empleado.ubicacion}}</small>
      </h2>
      <p (click)="deleteEmpleado()" class="btn btn-danger btn-sm"><span class="lnr lnr-cross-circle"></span> Eliminar Empleado</p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <ul class="nav nav-tabs mt-2" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pagos-tab" data-toggle="tab" href="#pagos" role="tab" aria-controls="pagos" aria-selected="true"><h4>Pagos</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="cuentas-tab" data-toggle="tab" href="#cuentas" role="tab" aria-controls="cuentas" aria-selected="false"><h4>Cuentas</h4></a>
        </li>
      </ul>
    
      <!-- Pagos -->
      <div class="tab-content" id="myTabContent">  
        <div class="tab-pane fade show active" id="pagos" role="tabpanel" aria-labelledby="pagos-tab">
          
          <div class="text-right my-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPagos"> <span class="lnr lnr-plus-circle"></span></button>        
          </div>

          <div class="row">
            <div class="col-12 col-md-12" *ngFor="let pago of pagos">
              <div class="shadow bg-white rounded p-2 mt-2">       
              
                <div class="row">
                  <div class="col-md-6 mt-1">
                    <h2 class="p-2">{{pago.titular}}</h2>
                    <div class="mt-1">

                      <div>
                        <div *ngIf="pago.is_pago == '0'" class="badge badge-warning ml-1">Pendiente</div>
                        <div *ngIf="pago.is_pago == '1'" class="badge badge-success ml-1">Listo</div>                        
                        <div class="badge badge-secondary ml-1">{{pago.tipo}}</div> 
                        <div *ngIf="pago.code" class="badge badge-success">Codigo : {{pago.code}}</div>                    
                      </div>

                      <!-- Eliminar  -->
                      <button (click)="deletePago(pago.id)" *ngIf="pago.is_pago == '0'" class="btn btn-danger btn-sm mt-1">Elimianr Pago</button>

                      <!-- agregar codigo \ si ya esta en 1, no se puede eliminar -->
                      <form [formGroup]="formCancela" *ngIf="pago.is_pago == '0'" class="mt-2">
                        <div class="form-inline">
                          <input type="text" class="form-control" placeholder="codigo de transferencia" formControlName="code"> <button class="btn btn-success" (click)="codePago(pago.id)">Listo</button>
                        </div>                  
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6 mt-1">
                    <h2 class="p-2 text-right">{{pago.setMonto}}Bs</h2>
                    <!-- Informacion de pago -->
                    <div class="text-right">
                      <div><b>C. I.</b> {{pago.cedula}}</div> 
                      <div *ngIf="pago.nro"><b>Nro C.</b> {{pago.nro}} </div>                
                      <div *ngIf="pago.telefono"><b>Telefono</b> {{pago.telefono}}  </div> 
                    </div>      

                    <div class="mt-1 text-right"><ion-icon name="calendar-outline"></ion-icon> {{pago.setDate}}</div>
                  </div>
                </div>
              </div>
            </div>         
          </div>
        </div>
        
        <!-- Cuentas -->
        <div class="tab-pane fade" id="cuentas" role="tabpanel" aria-labelledby="cuentas-tab">
    
          <div class="text-right my-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop"> <span class="lnr lnr-plus-circle"></span></button>        
          </div>
    
          <ul class="list-group">
            <li class="list-group-item bg-white" *ngFor="let cuenta of cuentas">
              <h4 class="p-1">
                {{cuenta.titular}}                    
                <span class="lnr lnr-pencil ml-2" (click)="editCuenta(cuenta)"></span> 
                <span class="lnr lnr-cross-circle ml-3" (click)="deleteCuentas(cuenta.id)" ></span>
              </h4>
              <p>
                <span *ngIf="cuenta.cedula">Cedula identidad, {{cuenta.cedula}} <br></span> 
                <span *ngIf="cuenta.nro">Nro Cuenta {{cuenta.nro}} <br></span>
                <span *ngIf="cuenta.telefono">Nro Telefono {{cuenta.telefono}} <br></span>    
                <span *ngIf="cuenta.tipo">Tipo, {{cuenta.tipo}}</span>                
              </p>
            </li>
          </ul>        
        </div>
    
      </div>      
    </div>
  </div>
</div>

<!-- Modal nueva cuenta -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Agregar cuenta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formCuentas">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Tipos</label>
                <select class="form-control" formControlName="tipo">
                  <option *ngFor="let tipo of tipos" [value]="tipo.id">{{tipo.tipo}}</option>
                </select>
              </div>   
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Titular</label>
                <input type="text" class="form-control" formControlName="titular">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Cedula de Identidad</label>
                <input type="text" class="form-control" formControlName="cedula">
              </div>   
            </div>
            <div class="col-md-6">
              <div class="form-group" *ngIf="formCuentas.get('tipo').value == 1">
                <label for="">Nro de Cuenta</label>
                <input type="text" class="form-control" formControlName="nro">
              </div>    
              <div class="form-group" *ngIf="formCuentas.get('tipo').value == 2">
                <label for="">Telefono</label>
                <input type="text" class="form-control" formControlName="telefono">
              </div>
            </div>                  
          </div>
          <div class="row">
            <div class="col-md-12 text-right">
              <button (click)="newCuenta()" class="btn btn-success">Agregar</button>
            </div>
          </div>
        </form>  
      </div>
    </div>
  </div>
</div>

<!-- Modal nueva cuenta -->
<div class="modal fade" id="editarCuentaModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="editarCuentaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarCuentaModalLabel">Editar cuenta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formCuentasEdit">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Tipos</label>
                <select class="form-control" formControlName="tipo">
                  <option *ngFor="let tipo of tipos" [value]="tipo.id">{{tipo.tipo}}</option>
                </select>
              </div>   
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Titular</label>
                <input type="text" class="form-control" formControlName="titular">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Cedula de Identidad</label>
                <input type="text" class="form-control" formControlName="cedula">
              </div>   
            </div>
            <div class="col-md-6">
              <div class="form-group" *ngIf="formCuentasEdit.get('tipo').value == 1">
                <label for="">Nro de Cuenta</label>
                <input type="text" class="form-control" formControlName="nro">
              </div>    
              <div class="form-group" *ngIf="formCuentasEdit.get('tipo').value == 2">
                <label for="">Telefono</label>
                <input type="text" class="form-control" formControlName="telefono">
              </div>
            </div>                  
          </div>
          <div class="row">
            <div class="col-md-12 text-right">
              <button (click)="upgradeCuentas()" class="btn btn-success">Agregar</button>
            </div>
          </div>
        </form>  
      </div>
    </div>
  </div>
</div>

<!-- Modal nuevo pago -->
<div class="modal fade" id="addPagos" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="addPagosLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPagosLabel">Agregar pagos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formAddPago">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="">Cuenta</label>
                <select class="form-control" formControlName="cuenta_id">
                  <option *ngFor="let cuenta of cuentas" [value]="cuenta.id">
                    {{cuenta.titular}}, 
                    <span *ngIf="cuenta.nro">{{cuenta.nro}}</span> 
                    <span *ngIf="cuenta.telefono">{{cuenta.telefono}}</span>                     
                  </option>
                </select>
              </div>   
            </div>            
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Monto</label>
                <input type="text" class="form-control" formControlName="monto"
                  [value]="formAddPago.get('monto').value | inputMoneda"
                  >
              </div>   
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Concepto</label>
                <input type="text" class="form-control" formControlName="observacion">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-right">
              <button (click)="agregarPago()" class="btn btn-success">Agregar</button>
            </div>
          </div>
        </form>  
      </div>
    </div>
  </div>
</div>

