<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista Nominas -- 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  felix
<!-- 
  <ion-card ngFor="let listaPago of listaPagos">
    <ion-card-header>
      <ion-card-title>{{listaPago.setMonto}}Bs</ion-card-title>
      <ion-card-subtitle>{{listaPago.username}} </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div *ngIf="listaPago.titular"> Titular : {{listaPago.titular}}</div> <br>
      <div *ngIf="listaPago.cedula">C.I : {{listaPago.cedula}}</div>   <br>        
      <div *ngIf="listaPago.nro">Nro Cuenta : {{listaPago.nro}}</div> <br>
      <div *ngIf="listaPago.telefono">telefono : {{listaPago.telefono}}</div>            
      <div *ngIf="listaPago.is_pago == '1'" > {{listaPago.code}} </div>    
      <div *ngIf="listaPago.is_pago == '1'">Pago</div>            
      <div *ngIf="listaPago.is_pago == '0'">Pendiente</div>                            
      <p *ngIf="listaPago.observacion"><b>Observacion: </b> {{listaPago.observacion}}</p>             

    </ion-card-content>
  </ion-card> -->

</ion-content>
