<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="p-2 text-center">Cotoperices</h1>
      <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link ml-1 mt-1" [routerLink]="['empleados']" [routerLinkActive]="['active']" >Empleados</a>
        <a class="nav-item nav-link ml-1 mt-1" [routerLink]="['nominas']" [routerLinkActive]="['active']" >Nomina</a>
        <a class="nav-item nav-link ml-1 mt-1" [routerLink]="['por-cancelar']" [routerLinkActive]="['active']">Por Cancelar</a>
        <a class="nav-item nav-link ml-1 mt-1" [routerLink]="['pagos']" [routerLinkActive]="['active']">Hacer pago</a>
      </nav>      
    </div>
  </div>
</div>
<router-outlet></router-outlet>