/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{ 
  background-color: #EDEDF1;
  font-family: 'Poppins', sans-serif;
}

.c-aqua{ color: #35c5cf; }
.c-a-ligth{ color: #d8eff5; }
.c-b{ color : #81c9f3; }
.c-w{ color : #EDEDF1; }

.bg-c-b{ background-color : #81c9f3; }
.bg-a-ligth{ background: #d8eff5; }

