<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="bg-white p-4">
        
        <h2 class="p-2 text-center">Cotoperices</h2>

        <h3 class="p-2">Empleados</h3> 
        <p>Crea empleados de forma facil. </p>
        
        <h3 class="p-2">Cuentas</h3> 
        <p>Ingresa la informacion bancaria del empleados</p>
        
        <h3 class="p-2">Pagos</h3> 
        <p>Agrea los diferentes pagos</p>

        <h3 class="p-2">Confirmar Pago</h3> 
        <p>Confirma el pago escribiendo el codigo de referencia
          puedes cancelar el pago cuando quieras.</p>        

        <h3 class="p-2">Pendientes </h3> 
        <p>Muestra la lista de pendientes por hacer el pago</p>
      </div>
    </div>
  </div>
</div>
