<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="bg-white p-4">
        
        <h2 class="p-2 text-center">Cotoperices</h2>

        <h3 class="p-2">Empleados</h3> 
        <p class="text-justify">Agrega a los empleados de tu nomina de forma facil, colocando el nombre y apellido, direccion y listo. lleva todo el control y su historial de pagos.  </p>
        
        <h3 class="p-2">Cuentas</h3> 
        <p>
          Al entrar en el perfil del empleado te encontraras con un modulo llamado <b>Cuentas</b>, orientado a que cada cuenta que te facilite el empleado la tienes relacionada con el mismo. 
          de esta forma sabemos que le estamos pagando a la cuenta de x persona pero le pagamos a el empleado x.
        </p>
        
        <h3 class="p-2">Pagos</h3> 
        <p>
          Una vez que tengas la cuenta registrada es muy facil usar, solo tienes que agregar la cuenta que usara el empleado y el monto del mismo.
          con este estaras listo para para proceder a confirmar el pago. 
        </p>

        <h3 class="p-2">Confirmar Pago</h3> 
        <p>Confirma el pago escribiendo el codigo de referencia
          puedes cancelar el pago cuando quieras.</p>        

        <h3 class="p-2">Pendientes </h3> 
        <p>Muestra la lista de pendientes por hacer el pago</p>
      </div>
    </div>
  </div>
</div>
