<!-- Lista de Usuarios -->
<div *ngIf="!openEmpleado">
  <div class="spinner-border justify-content-center" *ngIf="isLoadingGetEmpleados" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  
  <div class="container mt-5" *ngIf="!isLoadingGetEmpleados">
    <div class="row">
      <div class="col-md-12">
        <div class="shadow bg-white p-2">
          <div class="row mt-2">
            <div class="col-md-6">
              <h2 class="text-center">Empleados {{empleados.length}}</h2>
            </div>
            <div class="col-md-6">
              <input type="text" [(ngModel)]="filterSeach" placeholder="Buscar empleados" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-right p-2">
              <button class="btn btn-success btn-sm mr-2"  data-toggle="modal" data-target="#staticBackdrop">Agregar empleado</button>
            </div>
          </div>
          <div class="mt-2">
            <table class="table table-hover text-center">
              <tr>
                <th>Empleado</th>
                <th>Fecha</th>
                <th></th>
              </tr>
              <tr *ngFor="let empleado of empleados | filterSeach : filterSeach,  paginate: { itemsPerPage: pageSize, currentPage: p }"
                (click)="showEmpleado(empleado)"
              >
                <td>{{empleado.username}}</td>
                <td>
                  <ion-icon name="calendar-outline"></ion-icon> 
                  {{empleado.created_at | date }}
                </td>
                <td class="text-right">
                  <span *ngIf="empleado.pagosPendientes == 'true'" class="badge badge-danger ml-1">Pago pendiente</span>
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </td>
              </tr>        
            </table>
            
            <div class="text-center">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>  
  </div>
</div>

<app-show-empleado 
  *ngIf="openEmpleado" 
  [dataEmpleado]="empleado"
  (closeShowEmpleado)="toggleShowEmpleado($event)"
  (changePagoPendiente)="setPagoPendiente($event)"
  ></app-show-empleado>

<app-new-empleado></app-new-empleado>
           
